{% extends "one_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Add application" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'applications:application_list' %}">{% trans "Applications" %}</a></li>
<li class="active">{% trans "Add application" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Add application" %}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Add application" %}
</button>
<a class="btn btn-link" href="{% url 'applications:application_list' %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}