{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Add linked FTP for" %} {{ webapp.name }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'applications_dashboard' %}">{% trans "Applications" %}</a></li>
<li><a href="{% url 'applications_webapp' webapp.pk %}">{{ webapp.name }}</a></li>
<li class="active">{% trans "Add linked FTP" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Add linked FTP for" %} {{ webapp.name }}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Add linked FTP" %}
</button>
<a class="btn btn-link" href="{% url 'applications_webapp' webapp.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}