{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Backups" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a href="{% url 'applications:webapp_configure_backups' webapp.pk %}" class="btn btn-success">
    <span class="glyphicon glyphicon-cog"></span>
    {% trans "Configure backups" %}</a>
</div>
<h2>{% trans "Backups" %}</h2>
<br>
{% if webapp.backup_settings %}
<p><strong>{% trans "Backup directory" %}:</strong>
<code>{{ webapp.backup_settings.directory }}</code></p>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Database backups" %}</h3>
</div>
<div class="panel-body">
<table class="table">
<tr>
    <td>{% trans "Cron time" %}</td>
    <td><code>{{ webapp.backup_settings.cron_time_for_db }}</code></td>
</tr>
<tr>
    <td>{% trans "Keep last files" %}</td>
    <td>{{ webapp.backup_settings.keep_db_files }}</td>
</tr>
</table>

<table class="table table-striped table-hover">
<tr>
    <th>{% trans "DB Name" %}</th>
    <th>{% trans "Date" %}</th>
</tr>
{% for b in db_backups %}
<tr>
    <td>{{ b.dbname }}</td>
    <td>{{ b.date }}</td>
</tr>
{% empty %}
<tr><td colspan="2"><em>{% trans "There are no backups yet." %}</em></td></tr>
{% endfor %}
</table>
</div>
</div>


<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Container FS backups" %}</h3>
</div>
<div class="panel-body">
<table class="table">
<tr>
    <td>{% trans "Cron time" %}</td>
    <td><code>{{ webapp.backup_settings.cron_time_for_fs }}</code></td>
</tr>
<tr>
    <td>{% trans "Keep last files" %}</td>
    <td>{{ webapp.backup_settings.keep_fs_files }}</td>
</tr>
</table>

<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Date" %}</th>
</tr>
{% for b in fs_backups %}
<tr>
    <td>{{ b.date }}</td>
</tr>
{% empty %}
<tr><td><em>{% trans "There are no backups yet." %}</em></td></tr>
{% endfor %}
</table>
</div>
</div>


<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Linked FTPs" %}</h3>
</div>
<div class="panel-body">
<div class="btn-toolbar">
    <a class="btn btn-success" href="{% url 'applications:webapp_add_backup_ftp' webapp.pk %}">
    <span class="glyphicon glyphicon-plus"></span>
    {% trans "Link to FTP" %}</a>
</div>
<br>
{% if ftps %}
<table class="table table-striped">
<tr>
    <th>{% trans "FTP User" %}</th>
    <th>{% trans "FTP subdirectory" %}</th>
    <th>{% trans "Added by" %}</th>
    <th></th>
</tr>
{% for ftp in ftps %}
<tr>
    <td>{{ ftp.ftpuser.username }}</td>
    <td>{{ ftp.ftp_directory }}</td>
    <td>{{ ftp.added_by }}</td>
    <td style="text-align:right;">
    <a href="{% url 'applications:webapp_remove_backup_ftp' webapp.pk ftp.pk %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" title="{% trans 'Delete' %}"></span></a></td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
<p>{% trans "There are no linked FTPs yet." %}</p>
</div>
{% endif %}
</div>
</div>
{% else %}
<div class="alert alert-warning">
<p>{% trans "Backups not configured yet." %}</p>
</div>
{% endif %}
{% endblock %}