{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'applications:webapp_backups' webapp.pk %}">{% trans "Backups" %}</a></li>
<li class="active">{% trans "Configure backups" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Configure backups" %}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Save" %}
</button>
<a class="btn btn-link" href="{% url 'applications:webapp_backups' webapp.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}