{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Databases" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'applications:webapp_add_pguser' webapp.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add PostgreSQL user" %}</a>
</div>
<h2>{% trans "PostgreSQL users" %}</h2>
<br>
{% if pg_users %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "User name" %}</th>
    <th>{% trans "Password" %}</th>
    <th>{% trans "DB Server" %}</th>
    <th></th>
</tr>
{% for pg_user in pg_users %}
<tr>
    <td>{{ pg_user.username }}</td>
    <td><input class="__anchor-password_input__{{ forloop.counter }}" type="password" value="{{ pg_user.password }}">
    <a class="__label-show_hide_text__{{ forloop.counter }}" href="javascript:show_password({{ forloop.counter }})">{% trans "Show" %}</a>
    </td>
    <td>{{ pg_user.pg_service }}</td>
    <td style="text-align:right;">
    {% if perms.services.delete_postgresqluser %}
    <a href="{% url 'applications:webapp_remove_pguser' webapp.pk pg_user.pk %}" class="btn btn-danger btn-sm {% if pg_user.can_be_deleted == False %} disabled{% endif %}">
    <span class="glyphicon glyphicon-trash" title="{% trans 'Delete' %}"></span></a>
    {% endif %}
    </td>
</tr>
{% endfor %}

</table>
{% else %}
<div class="alert alert-info">
<p>{% trans "There are no PostgreSQL users binded to this web application." %}</p>
</div>
{% endif %}
<hr>

<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'applications:webapp_add_pgdb' webapp.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add PostgreSQL database" %}</a>
</div>
<h2>{% trans "PostgreSQL databases" %}</h2>
<br>
{% if pg_databases %}
<table class="table table-striped">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "User name" %}</th>
    <th>{% trans "DB server" %}</th>
    <th></th>
</tr>
{% for pg_db in pg_databases %}
<tr>
    <td>{{ pg_db.name }}</td>
    <td>{{ pg_db.username }}</td>
    <td>{{ pg_db.pg_service }}</td>
    <td>
    <div class="btn-toolbar pull-right">
    <div class="btn-group">
    <a href="{% url 'applications:webapp_pgconnection' webapp.pk pg_db.pk %}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-info-sign" title="{% trans 'Connection info' %}"></span></a>
    <a href="{% url 'applications:webapp_pgdumps' webapp.pk pg_db.pk %}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-hdd" title="{% trans 'Dumps/Load' %}"></span></a>
    </div>
    <div class="btn-group">
    <a href="{% url 'applications:webapp_remove_pgdb' webapp.pk pg_db.pk %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" title="{% trans 'Delete' %}"></span></a>
    </div>
    </div>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
<p>{% trans "There are no PostgreSQL databases binded to this web application." %}</p>
</div>
{% endif %}

<script type="text/javascript">
    function show_password(id) {
        var e = $(".__anchor-password_input__"+id);
        var type = e.attr("type");
        if(type === "password") {
            e.attr("type", "text");
            $(".__label-show_hide_text__"+id).html("{% trans 'Hide' %}")
        } else {
            e.attr("type", "password");
            $(".__label-show_hide_text__"+id).html("{% trans 'Show' %}")
        }
    }
</script>
{% endblock %}