{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Add domain" %}{% endblock %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'applications:webapp_domains' webapp.pk %}">{% trans "Domains" %}</a></li>
<li class="active">{% trans "Add domain" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Add domain" %}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Add domain" %}
</button>
<a class="btn btn-link" href="{% url 'applications:webapp_domains' webapp.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}