{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Domains" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'applications:webapp_add_domain' webapp.pk %}">
    <span class="glyphicon glyphicon-plus"></span>
    {% trans "Add domain" %}</a>
</div>
<h2>{% trans "Domains" %}</h3>
<br>
{% if domains %}
<table class="table table-striped">
<tr>
    <th>{% trans "Domain" %}</th>
    <th>{% trans "Protocol" %}</th>
    <th>{% trans "Router" %}</th>
    <th>{% trans "Default" %}</th>
    <th></th>
</tr>
{% for domain in domains %}
<tr>
    <td><a href="{{ domain.protocol }}://{{ domain.domain }}" target="_blank">{{ domain.domain }}</a></td>
    <td>{{ domain.get_protocol_display }}</td>
    <td>{{ domain.hipache }}</td>
    <td>
    {% if domain.is_default %}
    <span class="glyphicon glyphicon-ok"></span>
    {% else %}
    <a href="{% url 'applications:webapp_set_default_domain' webapp.pk domain.pk %}">{% trans "Set default" %}</a>
    {% endif %}
    </td>
    <td style="text-align:right;">
    <a href="{% url 'applications:webapp_remove_domain' webapp.pk domain.pk %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" title="{% trans 'Delete' %}"></span></a></td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
<p>{% trans "There are no domains yet." %}</p>
</div>
{% endif %}
{% endblock %}