{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Linked FTPs" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'applications:webapp_add_linkedftp' webapp.pk %}">
    <span class="glyphicon glyphicon-plus"></span>
    {% trans "Add linked FTP" %}</a>
</div>
<h2>{% trans "Linked FTPs" %}</h3>
<br>
{% if linked_ftps %}
<table class="table table-striped">
<tr>
    <th>{% trans "FTP User" %}</th>
    <th>{% trans "FTP subdirectory" %}</th>
    <th>{% trans "Directory" %}</th>
    <th></th>
</tr>
{% for ftp in linked_ftps %}
<tr>
    <td>{{ ftp.ftpuser.username }}</td>
    <td>{{ ftp.ftp_directory }}</td>
    <td>{{ ftp.directory }}</td>
    <td style="text-align:right;">
    <a href="{% url 'applications:webapp_remove_linkedftp' webapp.pk ftp.pk %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" title="{% trans 'Delete' %}"></span></a></td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
<p>{% trans "There are no linked FTPs yet." %}</p>
</div>
{% endif %}
{% endblock %}