{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load navigation_tags %}

{% block head_tail %}{{ form.media }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Server settings" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <div class="btn-group">
    <a href="{% url 'applications:webapp_restart_nginx' webapp.pk %}"
    class="btn btn-default">
    <span class="glyphicon glyphicon-refresh"></span>
    {% trans "Restart Nginx" %}</a>    
    </div>
    <div class="btn-group">
    <a href="{% url 'applications:webapp_settings_mode' webapp.pk %}?mode=easy"
    class="btn btn-default{% if not server_settings.manual_config %} active{% endif %}">
    {% trans "Easy config" %}</a>
    <a href="{% url 'applications:webapp_settings_mode' webapp.pk %}?mode=manual"
    class="btn btn-default{% if server_settings.manual_config %} active{% endif %}">
    {% trans "Manual config" %}</a>
    </div>
</div>
<h2>{% trans "Server settings" %}</h2>
<br>

{% if server_settings.manual_config %}
<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Save" %}
</button>
</div>
</form>
{% else %}

<ul class="nav nav-tabs">
  <li class="active"><a href="#settings" data-toggle="tab">{% trans "Edit" %}</a></li>
  <li><a href="#preview" data-toggle="tab">{% trans "View webapp.conf" %}</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="settings">
  <br>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Domains" %}</h3>
</div>
<div class="panel-body">
<table class="table">
<tr>
    <td><strong>{% trans "Main domain" %}</strong></td>
    <td>{{ main_domain }}</td>
</tr>
{% for d in extra_domains %}
<tr>
    <td>{% if forloop.first %}<strong>{% trans "Extra domains" %}</strong>{% endif %}</td>
    <td>{{ d }}</td>
</tr>
{% endfor %}
</table>
</div>
</div>

{% crispy form %}
<br>
  </div>
  <div class="tab-pane" id="preview">
  <br>
<pre>
{{ server_settings.get_config_file }}
</pre>
  </div>
</div>
{% endif %}
{% endblock %}