{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Add PostgreSQL database" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'applications:webapp_databases' webapp.pk %}">{% trans "Databases" %}</a></li>
<li class="active">{% trans "Add PostgreSQL database" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Add PostgreSQL database" %}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Add PostgreSQL database" %}
</button>
<a class="btn btn-link" href="{% url 'applications:webapp_databases' webapp.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}