{% extends "one_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} - {% trans "Applications" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Applications" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'applications:add_webapp' %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add application" %}</a>
</div>
<h2>{% trans "Applications" %}</h2>
<br>

{% if webapps %}
<table class="table table-striped">
<tr>
    <th>{% trans "Short description" %}</th>
    <th>{% trans "Docker image" %}</th>
    <th>{% trans "Host" %}</th>
    <th>{% trans "Domain" %}</th>
</tr>
{% for webapp in webapps %}
<tr>
    <td><a href="{% url 'applications:webapp' webapp.pk %}">{{ webapp.short_description }}</a></td>
    <td>{{ webapp.docker_container.docker_image }}</td>
    <td>{{ webapp.host }}</td>
    <td>
    {% for domain in webapp.domains.all %}
    <a href="http://{{ domain.domain }}" target="_blank">{{ domain.domain }}</a>{% if not forloop.last %},{% endif %}
    {% empty %}
    <span class="text-warning">{% trans "No domains attached to this application" %}</span>
    {% endfor %}
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no applications yet." %}</p>
</div>
{% endif %}
{% endblock %}