{% extends "two_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block title %}{{ block.super }} - {{ webapp.name }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'applications:application_list' %}">{% trans "Applications" %}</a></li>
<li><a href="{% url 'applications:webapp' webapp.pk %}">{{ webapp.short_description }}</a></li>
{% endblock %}

{% block sidebar %}
{% nav_side_bar 'webapps' webapp.pk %}
{% endblock %}

{% block content %}{% endblock %}
