{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Delete PostgreSQL user" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'applications:webapp_databases' webapp.pk %}">{% trans "Databases" %}</a></li>
<li class="active">{% trans "Delete PostgreSQL user" %}</li>
{% endblock %}

{% block content %}
<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="alert alert-danger">
<p>{% blocktrans %}Are you sure you want to delete database "{{ object }}"?{% endblocktrans %}</p>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}" />
<a class="btn btn-link" href="{% url 'applications:webapp_databases' webapp.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}