{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Files and templates" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Files and templates" %}</h2>

{% if webapp.ide_port %}
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">{% trans "How to use web IDE?" %}</h3>
</div>
<div class="panel-body">
<div class="btn-toolbar">
<div class="btn-group">
<a href="{{ ide_link }}" target="_blank" class="btn btn-default">
<img src="{% static 'applications/img/cloud9-logo.png' %}"> {% trans "Launch Cloud9 IDE" %}</a>
</div>
</div>
<table class="table">
<tr>
    <td>{% trans "Username" %}</td>
    <td>{{ webapp.ide_user }}</td>
</tr>
<tr>
    <td>{% trans "Password" %}</td>
    <td><input class="__anchor-password_input__1" type="password" value="{{ webapp.ide_password }}">
    <a class="__label-show_hide_text__1" href="javascript:show_password(1)">{% trans "Show" %}</a></td>
</tr>
</table>
</div>
</div>
<script type="text/javascript">
    function show_password(id) {
        var e = $(".__anchor-password_input__"+id);
        var type = e.attr("type");
        if(type === "password") {
            e.attr("type", "text");
            $(".__label-show_hide_text__"+id).html("{% trans 'Hide' %}")
        } else {
            e.attr("type", "password");
            $(".__label-show_hide_text__"+id).html("{% trans 'Show' %}")
        }
    }
</script>
{% endif %}
{% endblock %}