{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "SSH keys" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'applications:webapp_add_sshkey' webapp.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add key" %}</a>
</div>
<h2>{% trans "SSH keys" %}</h2>
<br>

{% if keys %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Added" %}</th>
    <th>{% trans "Owner" %}</th>
    <th></th>
</tr>
{% for key in keys %}
<tr>
    <td>{{ key.key.name }}</td>
    <td>{{ key.added|date:"d-m-Y" }}</td>
    <td>{{ key.added_by.get_full_name }}</td>
    <td style="text-align:right;">
        <a href="{% url 'applications:webapp_remove_sshkey' webapp.pk key.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
</tr>
{% endfor %}
</table>
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">{% trans "How to login?" %}</h3>
</div>
<div class="panel-body">
<p>{% trans "You can login to container with command:" %}
<code>{{ webapp.docker_container.get_ssh_command }}</code></p>
</div></div>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no SSH keys yet." %}</p>
</div>
{% endif %}
{% endblock %}