{% extends "applications/webapp_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} - {{ webapp.name }}{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
<li><a href="{% url 'applications:application_list' %}">{% trans "Applications" %}</a></li>
<li class="active">{{ webapp.short_description }}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a href="{% url 'applications:remove_webapp' webapp.pk %}" class="btn btn-danger">
    <span class="glyphicon glyphicon-trash"></span>
    {% trans "Delete" %}
    </a>
</div>
<h2>{{ webapp.short_description }}</h2>
<br>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Dashboard" %}</h3>
</div>
<div class="panel-body">
<table class="table table-hover">
<tr>
    {% with domain=webapp.get_default_domain %}
    <td><strong>{% trans "Domain" %}</strong></td>
    <td>
    {% if domain %}
    <a href="http://{{ domain.domain }}" target="_blank">{{ domain.domain }}</a>
    {% else %}
    <span class="text-warning">{% trans "No domains attached to this application" %}</span>
    {% endif %}
    </td>
    <td style="text-align:right;">
    {% if domain %}
    <a href="{% url 'applications:webapp_domains' webapp.pk %}">{% trans "Change domain" %}</a>
    {% else %}
    <a href="{% url 'applications:webapp_add_domain' webapp.pk %}">{% trans "Add domain" %}</a>
    {% endif %}
    </td>
    {% endwith %}
</tr>
<tr>
    <td><strong>{% trans "Host" %}</strong></td>
    <td>{{ webapp.host }}</td>
    <td></td>
</tr>
<tr>
    <td><strong>{% trans "IP Address" %}</strong></td>
    <td>{{ webapp.host.ip_address }}:{{ webapp.public_app_port }}</td>
    <td></td>
</tr>
<tr>
    <td><strong>{% trans "Docker image" %}</strong></td>
    <td>{{ webapp.docker_container.docker_image }}</td>
    <td></td>
</tr>
<tr>
    <td><strong>{% trans "Container name" %}</strong></td>
    <td>{{ webapp.docker_container.name }}</td>
    <td></td>
</tr>
<tr>
    <td><strong>{% trans "Container ID" %}</strong></td>
    <td>{{ webapp.docker_container.container_id }}</td>
    <td></td>
</tr>
</table>
</div>
</div>








{% comment %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Domains" %}</h3>
</div>
<div class="panel-body">
{% if domains %}
<table class="table">
{% for domain in domains %}
<tr>
    <td><a href="{{ domain.protocol }}://{{ domain.domain }}" target="_blank">{{ domain.domain }}</a></td>
</tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "There are no attached domains yet." %}</p>
{% endif %}
</div>
</div>




{% endcomment %}
{% endblock %}