{% extends "blank.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block extra_head %}
<link href="{% static 'accounts/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}
<form class="form-signin" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<h2 class="form-signin-heading"><img src="{% static 'img/grape.png' %}"> Grape</h2>
{% if form.errors %}
<p class="text-danger">{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<input name="username" type="email" class="form-control" placeholder="{{ form.username.label }}" required autofocus>
<input name="password" type="password" class="form-control" placeholder="{{ form.password.label }}" required>

<input type="hidden" name="next" value="{{ next }}" />
<button class="btn btn-lg btn-primary btn-block" type="submit">
{% trans "Log in" %}
</button>
</form>
{% endblock %}
