{% load i18n %}
{% if user.is_authenticated %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  {{ user.get_full_name }} <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'customer_details' user.pk %}">{% trans "My account" %}</a></li>
    <li><a href="{% url 'sshkeys:list' %}">{% trans "SSH keys" %}</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
  </ul>
</li>
{% endif %}