html {
  position: relative;
  min-height: 100%;
}

body {
  /*min-height: 2000px;*/
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#footer > .container {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
