{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} - {{ button.button_label }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{{ button.button_label }}</li>
{% endblock %}

{% block content %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{{ button.button_label }}</h3>
</div>
<div class="panel-body">
<pre>
$ {% if button.run_with_sudo %}sudo {% endif %}{{ button.commands }}
{{ result }}
</pre>
</div>
</div>
{% endblock %}