{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Cron tasks" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'hosts:host_add_crontask' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add task" %}</a>
</div>
<h2>{% trans "Cron tasks" %}</h2>
<br>

{% if cron_tasks %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Cron time" %}</th>
    <th>{% trans "Command" %}</th>
    <th>{% trans "Added by" %}
    <th></th>
</tr>
{% for t in cron_tasks %}
<tr>
    <td><code{% if not t.active %} class="text-muted"{% endif %}>{{ t.cron_time }}</code></td>
    <td><code{% if not t.active %} class="text-muted"{% endif %} title="{{ t.command }}">{{ t.command|truncatechars:50 }}</code></td>
    <td{% if not t.active %} class="text-muted"{% endif %}>{{ t.added_by.get_full_name }}</td>
    <td style="text-align:right;">
        {% if not t.is_backup_task %}
        <a href="{% url 'hosts:host_edit_crontask' host.pk t.pk %}" class="btn btn-info btn-sm" title="{% trans 'Edit' %}"><span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
        <a href="{% url 'hosts:host_remove_crontask' host.pk t.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no Cron tasks yet." %}</p>
</div>
{% endif %}
{% endblock %}