{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "FTP users" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'hosts:host_add_ftpuser' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add FTP user" %}</a>
</div>
<h2>{% trans "FTP users" %}</h2>
<br>

{% if ftpusers %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "User" %}</th>
    <th>{% trans "Password" %}</th>
    <th></th>
</tr>
{% for ftpuser in ftpusers %}
<tr>
    <td>{{ ftpuser.username }}</td>
    <td><input class="__anchor-password_input__10{{ forloop.count }}" type="password" value="{{ ftpuser.password }}">
    <a class="__label-show_hide_text__10{{ forloop.count }}" href="javascript:show_password(10{{ forloop.count }})">{% trans "Show" %}</a></td>
    <td style="text-align:right;">
    <div class="btn-group">
    <a class="btn btn-sm btn-info" href="ftp://{{ ftpuser.username }}@{{ ftpuser.host.ip_address }}" target="_blank"><span class="glyphicon glyphicon-share" title="{% trans 'Go to FTP' %}"></span></a>
    </div>
    <a href="{% url 'hosts:host_remove_ftpuser' host.pk ftpuser.pk %}" class="btn btn-danger btn-sm {% if ftpuser.can_remove == False %} disabled{% endif %}"><span class="glyphicon glyphicon-trash" title="{% trans 'Delete' %}"></span></a></td>
</tr>
{% endfor %}
</table>
<script type="text/javascript">
    function show_password(id) {
        var e = $(".__anchor-password_input__"+id);
        var type = e.attr("type");
        if(type === "password") {
            e.attr("type", "text");
            $(".__label-show_hide_text__"+id).html("{% trans 'Hide' %}")
        } else {
            e.attr("type", "password");
            $(".__label-show_hide_text__"+id).html("{% trans 'Show' %}")
        }
    }
</script>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no FTP users yet." %}</p>
</div>
{% endif %}
{% endblock %}