{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Delete FTP user" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'hosts:host_ftpusers' host.pk %}">{% trans "FTP users" %}</a></li>
<li class="active">{% trans "Delete FTP user" %}</li>
{% endblock %}

{% block content %}
<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="alert alert-danger">
<p>{% blocktrans %}Are you sure you want to delete FTP user "{{ object }}"?{% endblocktrans %}</p>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}" />
<a class="btn btn-link" href="{% url 'hosts:host_ftpusers' host.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}