{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Routing" %}</li>
{% endblock %}

{% block content %}
{% if not host.has_router %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'hosts:host_install_routing' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> 
    {% trans "Install Hipache" %}</a>
</div>
<h2>{% trans "Hipache is not installed" %}</h2>
<br>

<div class="alert alert-warning">
    <p>{% trans "You don't have installed Hipache on this host yet. Install it now." %}</p>
</div>
{% else %}
<h2>{% trans "Routing" %}</h2>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "SSH keys" %}</h3>
</div>
<div class="panel-body">
<div class="btn-toolbar">
    <a class="btn btn-success" href="{% url 'hosts:host_routing_add_sshkey' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add SSH key" %}</a>
</div>
<br>
{% with keys=host.hipache.docker_container.sshkeys.all %}
{% if keys %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Added" %}</th>
    <th>{% trans "Owner" %}</th>
    <th></th>
</tr>
{% for key in keys %}
<tr>
    <td>{{ key.key.name }}</td>
    <td>{{ key.added|date:"d-m-Y" }}</td>
    <td>{{ key.added_by.get_full_name }}</td>
    <td style="text-align:right;">
        <a href="{% url 'hosts:host_routing_remove_sshkey' host.pk key.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
</tr>
{% endfor %}
</table>
<p>{% trans "You can use that command for login to container:" %}
<code>{{ host.hipache.docker_container.get_ssh_command }}</code></p>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no SSH keys yet." %}</p>
</div>
{% endif %}
{% endwith %}
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Domains" %}</h3>
</div>
<div class="panel-body">
<div class="btn-toolbar">
    <a class="btn btn-warning" href="{% url 'hosts:host_update_hipache_db' host.pk %}">
    <span class="glyphicon glyphicon-refresh"></span> {% trans "Update Hipache DB" %}</a>
</div>
<br>

{% with domains=host.hipache.domains.all %}
{% if domains %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Domain" %}</th>
    <th>{% trans "Application" %}</th>
    <th>{% trans "Owner" %}</th>
</tr>
{% for d in domains %}
<tr>
    <td><a href="{{ d.protocol }}://{{ d.domain }}" target="_blank">{{ d.domain }}</a></td>
    <td><a href="{% url 'applications:webapp_domains' d.webapp.pk %}">{{ d.webapp.short_description }}</a></td>
    <td>{{ d.added_by.get_full_name }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no domains yet." %}</p>
</div>
{% endif %}
{% endwith %}
</div>
</div>
{% endif %}
{% endblock %}