{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
<li><a href="{% url 'hosts:host_list' %}">{% trans "Hosts" %}</a></li>
<li class="active">{{ host.name }}</li>
{% endblock %}

{% block content %}
<h2>{{ host.name }}</h2>

{% if host.is_manageable %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Description" %}</h3>
</div>
<div class="panel-body">
<table class="table">
<tr>
<td>
<dl class="dl-horizontal">
    <dt>{% trans "IP address" %}</dt>
    <dd>{{ host.ip_address }}</dd>
    <dt>{% trans "Host domain" %}</dt>
    <dd>{{ host.get_host_domain }}</dd>
    <dt>{% trans "Server type" %}</dt>
    <dd>{{ host.server_type }}</dd>
</dl>
</td>
<td>
{% if host.description %}
{{ host.get_description_as_html|safe }}
{% else %}
{% trans "No description." %}
{% endif %}
</td>
</tr>
</table>
</div>
</div>

<div class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Access info for admins" %}</h3>
</div>
<div class="panel-body">
<table class="table">
<tr>
    <td>{% trans "User" %}</td>
    <td>{{ host.main_user }}</td>
</tr>
<tr>
    <td>{% trans "Password" %}</td>
    <td>
    <input class="__anchor-password_input__1" type="password" value="{{ host.sudo_password }}">
    <a class="__label-show_hide_text__1" href="javascript:show_password(1)">{% trans "Show" %}</a>
    </td>
</tr>
<tr>
    <td>{% trans "Command for login" %}</td>
    <td><code>{{ host.get_ssh_command }}</code></td>
</tr>
</table>
</div>
</div>

{% if host.get_buttons %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Host management commands" %}</h3>
</div>
<div class="panel-body">
<div class="btn-toolbar" role="toolbar">
<div class="btn-group">
{% for button in host.get_buttons %}
{% if button.new_group %}</div><div class="btn-group">{% endif %}
<a href="{% url 'hosts:run_command' host.pk button.pk %}" class="btn {{ button.button_class }}" title="{{ button.tooltip }}">{{ button.button_label }}</a>
{% endfor %}
</div>
</div>
</div>
</div>
{% endif %}

<script type="text/javascript">
    function show_password(id) {
        var e = $(".__anchor-password_input__"+id);
        var type = e.attr("type");
        if(type === "password") {
            e.attr("type", "text");
            $(".__label-show_hide_text__"+id).html("{% trans 'Hide' %}")
        } else {
            e.attr("type", "password");
            $(".__label-show_hide_text__"+id).html("{% trans 'Show' %}")
        }
    }
</script>
{% else %}
<div class="alert alert-warning">
    <p>{% trans "The setup of the host is not complete yet. Follow the instructions below." %}</p>
</div>

{% blocktrans %}
<p>You have to make some preparations for making the new host manageable.</p>

<p>Firstly, open terminal with <code>Ctrl+Alt+T</code> and use the next command for login:</p>
{% endblocktrans %}
<pre>
{{ host.get_ssh_command }}
</pre>
<p>{% trans "Use the next password when asked:" %} <code>{{ host.sudo_password }}</code></p>

<p>{% trans "Prepare to add the authorized ssh key:" %}</p>

<pre>
mkdir ~/.ssh && chmod 700 ~/.ssh
touch ~/.ssh/authorized_keys && chmod 600 ~/.ssh/authorized_keys
</pre>

<p>{% trans "Open the file for edit:" %}</p>

<pre>
nano ~/.ssh/authorized_keys
</pre>

<p>{% trans "Copy the next public key to your clipboard:" %}

<pre>
{{ manage_key }}
</pre>

{% blocktrans %}
<p>Now paste it to the file with <code>Ctrl+Shift+V</code> and press Enter:</p>
{% endblocktrans %}
<div class="thumbnail">
<img src="{% static 'hosts/img/authorized-keys.png' %}">
</div>
{% blocktrans %}
<p>Then use <code>Ctrl+O</code> for save and <code>Ctrl+X</code> for exit from the editor.</p>
{% endblocktrans %}

{% blocktrans %}
<p>Now you need to go to the user home directory and download the script
for auto setup the host:</p>
{% endblocktrans %}

<div class="row">
<div class="col-sm-8">
<pre>
wget {{ panel_domain }}{% url "hosts:host_setup_script" host.pk %}
</pre>
</div>
<div class="col-sm-4">
<!-- Button trigger modal -->
<button class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal">
{% trans "View setup script" %}
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">host-setup.sh</h4>
      </div>
      <div class="modal-body">
<textarea class="form-control" rows="15" readonly>
{{ host.server_type.build_script }}
</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<p>{% trans "Give permission and run the script:" %}</p>

<pre>
chmod +x host-setup.sh
sudo ./host-setup.sh
</pre>

<p>{% trans "Wait while setup script prepare your host. It may take a couple of minutes." %}</p>

<p>{% trans "Pull the docker images:" %}</p>

<pre>{% for d in docker_images %}sudo docker pull {{ d.repository }}
{% endfor %}</pre>

{% blocktrans %}
<p>Now you have the ready new host for your infrastructure.
Press the button below and continue the setup.</p>
{% endblocktrans %}

<hr>
<div class="btn-toolbar">
    <a class="btn btn-success" href="{% url 'hosts:host_mark_manageable' host.pk %}">{% trans "Continue" %}</a>
</div>
<br>
{% endif %}
{% endblock %}