{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "SSH keys" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'hosts:host_add_sshkey' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add key" %}</a>
</div>
<h2>{% trans "SSH keys" %}</h2>
<br>

{% if keys %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Added" %}</th>
    <th>{% trans "Owner" %}
    <th></th>
</tr>
{% for key in keys %}
<tr>
    <td>{{ key.key.name }}</td>
    <td>{{ key.added|date:"d-m-Y" }}</td>
    <td>{{ key.added_by.get_full_name }}</td>
    <td style="text-align:right;">
        <a href="{% url 'hosts:host_remove_sshkey' host.pk key.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no SSH keys yet." %}</p>
</div>
{% endif %}
{% endblock %}