{% extends "two_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block title %}{{ block.super }} - {{ host.name }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'hosts:host_list' %}">{% trans "Hosts" %}</a></li>
<li><a href="{% url 'hosts:host_detail' host.pk %}">{{ host.name }}</a></li>
{% endblock %}

{% block sidebar %}
{% nav_side_bar 'hosts' host.pk %}
{% endblock %}

{% block content %}{% endblock %}
