{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load navigation_tags %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{% trans "Database servers" %}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a class="btn btn-success" href="{% url 'hosts:host_add_database_service' host.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add database server" %}</a>
</div>
<h2>{% trans "Database servers" %}</h2>
<br>

{% if db_servers %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Type" %}</th>
    <th>{% trans "Connection" %}</th>
    <th>{% trans "Default" %}</th>
    <th>{% trans "Stats" %}</th>
</tr>
{% for db_server in db_servers %}
<tr>
    <td><a href="{% url 'hosts:host_database_service' host.pk db_server.pk %}">{{ db_server.name }}</a></td>
    <td>{{ db_server.docker_container.docker_image }}</td>
    <td>
    <dl>
        <dt>{% trans "Public IP address" %}</dt>
        <dd>{{ db_server.host.ip_address }}</dd>
        <dt>{% trans "Public port" %}</dt>
        <dd>{{ db_server.public_service_port }}</dd>
    </dl>
    </td>
    <td>{% if db_server.is_default %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
    <td>
    <dl>
        <dt>{% trans "DB users" %}</dt>
        <dd>{{ db_server.pg_users.count }}</dd>
        <dt>{% trans "DB databases" %}</dt>
        <dd>{{ db_server.pg_databases.count }}</dd>
    </dl>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no database servers yet." %}</p>
</div>
{% endif %}
{% endblock %}