{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {{ db_service.name }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'hosts:host_database_services' host.pk %}">{% trans "Database servers" %}</a></li>
<li class="active">{{ db_service.name }}</li>
{% endblock %}

{% block content %}
<div class="btn-toolbar pull-right">
    <a href="{% url 'hosts:host_remove_database_service' host.pk db_service.pk %}" class="btn btn-danger">
    <span class="glyphicon glyphicon-trash"></span> {% trans "Remove" %}</a>
</div>
<h2>{{ db_service.name }}</h2>
<br>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Description" %}</h3>
</div>
<div class="panel-body">
<table class="table table-hover">
<tr>
    <td><strong>{% trans "IP Address" %}</strong></td>
    <td>{{ db_service.host.ip_address }}</td>
</tr>
<tr>
    <td><strong>{% trans "Port" %}</strong></td>
    <td>{{ db_service.public_service_port }}</td>
</tr>
<tr>
    <td><strong>{% trans "Container" %}</strong></td>
    <td>{{ db_service.docker_container }}</td>
</tr>
<tr>
    <td><strong>{% trans "Type" %}</strong></td>
    <td>{{ db_service.docker_container.docker_image }}</td>
</tr>
</table>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "SSH keys" %}</h3>
</div>
<div class="panel-body">
<div class="btn-toolbar">
    <a class="btn btn-success" href="{% url 'hosts:host_database_service_add_sshkey' host.pk db_service.pk %}">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add SSH key" %}</a>
</div>
<br>
{% with keys=db_service.docker_container.sshkeys.all %}
{% if keys %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Added" %}</th>
    <th>{% trans "Owner" %}</th>
    <th></th>
</tr>
{% for key in keys %}
<tr>
    <td>{{ key.key.name }}</td>
    <td>{{ key.added|date:"d-m-Y" }}</td>
    <td>{{ key.added_by.get_full_name }}</td>
    <td style="text-align:right;">
        <a href="{% url 'hosts:host_database_service_remove_sshkey' host.pk db_service.pk key.pk %}" class="btn btn-danger btn-sm" title="{% trans 'Delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
</tr>
{% endfor %}
</table>
<p>{% trans "You can use that command for login to container:" %}
<code>{{ db_service.docker_container.get_ssh_command }}</code></p>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no SSH keys yet." %}</p>
</div>
{% endif %}
{% endwith %}
</div>
</div>

{% with db_users=db_service.pg_users.all %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "PostgreSQL users" %}</h3>
</div>
<div class="panel-body">
{% if db_users %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "User name" %}</th>
    <th>{% trans "Application" %}</th>
    <th>{% trans "Owner" %}</th>
</tr>
{% for db_user in db_users %}
<tr>
    <td>{{ db_user.username }}</td>
    <td><a href="{% url 'applications:webapp_databases' db_user.webapp.pk %}">{{ db_user.webapp.short_description }}</a></td>
    <td>{{ db_user.owner.get_full_name }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no PostgreSQL users yet." %}</p>
</div>
{% endif %}
</div>
</div>
{% endwith %}

{% with db_dbs=db_service.pg_databases.all %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "PostgreSQL databases" %}</h3>
</div>
<div class="panel-body">
{% if db_dbs %}
<table class="table table-striped table-hover">
<tr>
    <th>{% trans "DB name" %}</th>
    <th>{% trans "Application" %}</th>
    <th>{% trans "Owner" %}</th>
</tr>
{% for db in db_dbs %}
<tr>
    <td>{{ db.username }}</td>
    <td><a href="{% url 'applications:webapp_databases' db.webapp.pk %}">{{ db.webapp.short_description }}</a></td>
    <td>{{ db.owner.get_full_name }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<div class="alert alert-info">
    <p>{% trans "There are no PostgreSQL users yet." %}</p>
</div>
{% endif %}
</div>
</div>
{% endwith %}
{% endblock %}