{% extends "hosts/host_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Add database server for" %} {{ host.name }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'hosts:host_database_services' host.pk %}">{% trans "Database servers" %}</a></li>
<li class="active">{% trans "Add database server" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Add database server for" %} {{ host.name }}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% trans "Add database server" %}
</button>
<a class="btn btn-link" href="{% url 'hosts:host_database_services' host.pk %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}