{% extends "one_column_page.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans "Add SSH Key" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'sshkeys:list' %}">{% trans "SSH Keys" %}</a></li>
<li class="active">{% if object %}{% trans "Edit SSH key" %} "{{ object }}"{% else %}{% trans "Add key" %}{% endif %}</li>
{% endblock %}

{% block content %}
<h2>{% if object %}{% trans "Edit SSH key" %} "{{ object }}"{% else %}{% trans "Add SSH Key" %}{% endif %}</h2>

<form role="form" method="post">
{% csrf_token %}
{{ form|crispy }}
<div class="form-group">
<button class="btn btn-primary" type="submit">
{% if object %}
{% trans "Save key" %}
{% else %}
{% trans "Add key" %}
{% endif %}
</button>
<a class="btn btn-link" href="{% url 'sshkeys:list' %}">{% trans "Cancel" %}</a>
</div>
</form>
{% endblock %}