{% load i18n %}
{% load user_toolbar_tags %}
{% load navigation_tags %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{% block title %}{{HOST_PANEL_TITLE}}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% if HOST_PANEL_THEME %}
    <link href="/static/css/themes/{{HOST_PANEL_THEME}}.min.css" rel="stylesheet">
    {% endif %}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    {% block head_tail %}{% endblock %}
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
          <img src="{% static 'img/grape.png' %}" style="height:16px;" title="{{HOST_PANEL_TITLE}}">
          Grape
          </a>
        </div>
        <div class="navbar-collapse collapse">
          {% nav_top_bar %}
          <ul class="nav navbar-nav navbar-right">
          {% user_toolbar %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    {% block container %}
    {% endblock %}
    </div>

    </div> <!-- /container -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">Copyright 2014 &copy; 7bits</p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/extra.js' %}"></script>
    <script src="{% static 'vendor/noty/packaged/jquery.noty.packaged.min.js' %}"></script>
    <script type="text/javascript">
      $.noty.defaults = {
          layout: 'top',
          theme: 'defaultTheme',
          type: 'alert',
          text: '', // can be html or string
          dismissQueue: true, // If you want to use queue feature set this true
          template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
          animation: {
              open: {height: 'toggle'},
              close: {height: 'toggle'},
              easing: 'swing',
              speed: 500 // opening & closing animation speed
          },
          timeout: 5000, // delay for closing event. Set false for sticky notifications
          force: false, // adds notification to the beginning of queue when set to true
          modal: false,
          maxVisible: 5, // you can set max visible notification for dismissQueue true option,
          killer: false, // for close all notifications before show
          closeWith: ['click'], // ['click', 'button', 'hover']
          callback: {
              onShow: function() {},
              afterShow: function() {},
              onClose: function() {},
              afterClose: function() {}
          },
          buttons: false // an array of buttons
      };
    {% if messages %}
      {% for message in messages %}
        {% if message.tags %}
        noty({text:"{{ message }}", type:"{{ message.tags }}"});
        {% else %}
        noty({text:"{{ message }}"});
        {% endif %}
      {% endfor %}
    {% endif %}
    </script>
  </body>
</html>
