{% extends "one_column_page.html" %}
{% load i18n %}

{% block breadcrumbs_container %}{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
    <h1>{% trans "7bits Host Panel" %}</h1>
</div>
</div>

<div class="row">
<div class="col-sm-6">
{% comment %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{% trans "Info" %}</h3>
</div>
<div class="panel-body">
<dl class="dl-horizontal">
    <dt>{% trans "Hosts" %}</dt>
    <dd></dd>
</dl>
</div>
</div>
{% endcomment %}
</div>
<div class="col-sm-6">
</div>
</div>
{% endblock %}
