{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block container %}
<div class="row">
  <div class="col-md-12">
  {% block breadcrumbs_container %}
  <ol class="breadcrumb">
  {% block breadcrumbs %}
    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
  {% endblock %}
  </ol>
  {% endblock %}
  {% block content %}{% endblock %}
  </div>
{% endblock %}